# Configuration
SetEnv LDAP_HOST              s0.foo.net
SetEnv LDAP_USERNAME          CN=user1,DC=foo,DC=net
SetEnv LDAP_PASSWORD          password
SetEnv LDAP_BASEDN            OU=sales,DC=foo,DC=net

# Rewriting requests
RewriteEngine On

# Redirect API request to dispatcher
RewriteCond %{REQUEST_URI} (persons|members)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .* dispatch.php [L]

DirectoryIndex docs/index.html
